page-search-provider-page {

.content__header {
    background-color: #ec6d5f;
    color: #fff;
    margin-bottom: 40px;
    padding: 30px 0;
    position: relative;
    text-align: center;
    z-index: 9;
}

}
